* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 76px;
  background-color: white;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
}
header .headContent {
  width: 65%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
header .headContent .right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headContent .right .navTop {
  display: flex;
  list-style: none;
}
header .headContent .right .navTop li {
  margin: 0 25px;
}
header .headContent .right .navTop li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
header .headContent .right .navTop li a:hover {
  color: #fe5341;
}
header .headContent .right .navTop li .active {
  color: #fe5341 !important;
}
header .headContent .right .register {
  display: flex;
  align-items: center;
}
header .headContent .right .register a {
  text-decoration: none;
  margin-right: 15px;
}
header .headContent .right .register a:nth-of-type(1) {
  width: 25px;
  height: 25px;
  background: url(../img/search.png) no-repeat;
}
header .headContent .right .register a:nth-of-type(1):hover {
  transform: scale();
}
header .headContent .right .register a:nth-of-type(2) {
  border: 1px solid #fe5341;
  color: #fe5341;
  border-radius: 3px;
  padding: 3px 5px;
}
header .headContent .right .register a:nth-of-type(2):hover {
  color: white;
  background-color: #fe5341;
}
header .headContent .logo {
  width: 132px;
}
main {
  width: 100%;
  /* 焦点图 */
}
main .focus {
  width: 100%;
  height: 300px;
  background: url(../img/original.jpg) -215px;
  background-size: cover;
}
@keyframes move {
  0% {
    transform: translateX(200px) translateY(-150px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
main .focus .focusContent {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 35px;
  animation: move 1s ease forwards;
}
main .focus .focusContent p:nth-of-type(1) {
  font-size: 34px;
  color: white;
  margin-bottom: 15px;
}
main .focus .focusContent p:nth-of-type(2) span {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 3px;
  margin-right: 10px;
}
main .focus .focusContent .time {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 16px;
}
main .focus .focusContent .apply a {
  display: inline-block;
  width: 242px;
  height: 48px;
  background-color: #FE5341;
  color: white;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
}
main .nav {
  width: 100%;
  height: 110px;
  background-color: #f0f0f0;
}
main .nav .homenav {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .nav .homenav .left {
  width: 80px;
  height: 80px;
  margin-right: 60px;
  box-sizing: border-box;
  padding-left: 10px;
  border-left: 7px solid #fe5341;
}
main .nav .homenav .left span {
  font-size: 30px;
  font-weight: 300;
}
main .nav .homenav .right {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
main .nav .homenav .right div {
  width: 80px;
  height: 80px  ;
  text-align: center  ;
}
main .nav .homenav .right div img {
  width: 40px;
  height: 45px;
}
main .nav .homenav .right div span {
  display: block;
  padding-bottom: 3px;
}
main .nav .homenav .right div:nth-of-type(1) span {
  border-bottom: 2px solid #FE5341;
}
main .container {
  width: 55%;
  height: 2300px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
main .container .leftBox {
  width: 70%;
  height: 100%;
  margin-right: 30px;
}
main .container .leftBox h2 {
  font-size: 20px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-weight: 400;
  padding-left: 15px;
  border-left: 5px solid #fe5341;
}
main .container .leftBox .title {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 700;
  color: #fe5341;
}
main .container .leftBox img {
  margin-bottom: 30px;
  width: 680px;
  height: 400px;
}
main .container .leftBox .blue {
  display: block;
  font-size: 18px;
  color: #0070c0;
}
main .container .leftBox .gap {
  margin: 30px 0;
}
main .container .leftBox .attention {
  font-size: 15px;
  color: #0177a7;
  margin-bottom: 30px;
}
main .container .leftBox .down {
  font-size: 18px;
  color: #ff0000;
}
main .container .leftBox p strong {
  line-height: 22px;
}
main .container .rightBox {
  width: 30%;
  height: 100%;
}
main .container .rightBox h2 {
  font-size: 18px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-weight: 400;
  padding-left: 25px;
  border-left: 5px solid #fe5341;
}
main .container .rightBox p {
  font-size: 40px;
  margin: 10px 0;
  color: #fe5341;
}
main .container .rightBox a {
  text-decoration: none;
  color: white;
  display: block;
  width: 90%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #fe5341;
  border-radius: 10px;
}
main .container .rightBox .come {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin-right: 30px;
}
main .container .rightBox img {
  margin: 15px 0;
}
main .container .rightBox .txt {
  font-size: 14px;
  color: #999;
}
main .container .rightBox .guanzhu {
  margin-top: 50px;
}
main .container .rightBox .box {
  margin-top: 20px;
  width: 100%;
  height: 120px;
}
.downBox {
  width: 100%;
  height: 354px;
}
.downBox .topTitle {
  width: 55%;
  height: 100% ;
  margin: 0 auto;
}
.downBox .topTitle .downTitle {
  width: 100%;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}
.downBox .topTitle .downTitle a {
  font-size: 14px;
  text-decoration: none;
  color: #fe5341;
  padding-right: 30px;
  background: url(../img/readMore.png) no-repeat 62px center;
}
.downBox .topTitle .item {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.downBox .topTitle .item li {
  width: 222px;
  height: 288px;
  border: 1px solid #e6e9e9;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}
.downBox .topTitle .item li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.downBox .topTitle .item li a img {
  width: 220px;
  height: 130px;
}
.downBox .topTitle .item li a strong {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  background-color: #fe5341;
  color: white;
  border-radius: 0 0 0 6px;
  font-size: 12px;
}
.downBox .topTitle .item li a div {
  width: 220px;
  height: 155px;
  padding: 0 5px;
  box-sizing: border-box;
  text-align: center;
}
.downBox .topTitle .item li a div h2 {
  font-size: 16px;
  color: black;
}
.downBox .topTitle .item li a div span {
  margin: 3px 0;
  display: inline-block;
  width: 42px;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  color: #fe5341;
  border: 1px solid #fe5341;
  border-radius: 5px;
}
.downBox .topTitle .item li a div p {
  color: black;
}
.downBox .topTitle .item li a div p .num {
  font-weight: 400;
  color: #fe5341;
  border: none;
}
.downBox .topTitle .item li a div .color {
  font-size: 14px;
  color: #fe5341;
}
.downBox .topTitle .item li:nth-of-type(2) span {
  color: #80c269;
  border: 1px solid #80c269;
}
.downBox .topTitle .item li:nth-of-type(2) .color {
  color: #80c269;
}
.downBox .topTitle .item li:nth-of-type(2) strong {
  color: #c4a96a;
  background-color: #fbf4cb;
}
.downBox .topTitle .item li:hover img {
  animation: light 1.5s infinite linear;
}
footer {
  width: 100%;
  height: 360px;
  background-color: #505050;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 15px;
  margin-top: 30px;
}
footer .footerContent {
  width: 65%;
  margin: auto;
}
footer .footerContent .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footerContent .top dl:nth-of-type(1) img {
  width: 160px;
  height: 160px;
}
footer .footerContent .top dl:nth-of-type(2) dd {
  margin-top: 13px;
}
footer .footerContent .top dl:nth-of-type(4) dd {
  display: flex;
  align-items: center;
}
footer .footerContent .top dl:nth-of-type(4) dd a {
  width: 69px;
  height: 20px;
}
footer .footerContent .top dl dt {
  margin-bottom: 25px;
  color: white;
}
footer .footerContent .top dl dd {
  font-size: 13px;
  color: #a3a3a3;
}
footer .footerContent .top dl dd a {
  text-decoration: none;
  color: #a3a3a3;
}
footer p {
  padding-top: 80px;
  color: #a3a3a3;
  font-size: 13px;
  text-align: center;
}
