* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 76px;
  background-color: white;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
}
header img {
  margin-right: 50px;
}
header .headContent {
  width: 65%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
header .headContent .right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headContent .right .navTop {
  display: flex;
  list-style: none;
}
header .headContent .right .navTop li {
  margin: 0 25px;
}
header .headContent .right .navTop li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
header .headContent .right .navTop li a:hover {
  color: #fe5341;
}
header .headContent .right .navTop li .active {
  color: #fe5341 !important;
}
header .headContent .right .register {
  display: flex;
  align-items: center;
}
header .headContent .right .register a {
  text-decoration: none;
  margin-right: 15px;
}
header .headContent .right .register a:nth-of-type(1) {
  width: 25px;
  height: 25px;
  background: url(../img/search.png) no-repeat;
}
header .headContent .right .register a:nth-of-type(2) {
  border: 1px solid #fe5341;
  color: #fe5341;
  border-radius: 3px;
  padding: 3px 5px;
}
header .headContent .right .register a:nth-of-type(2):hover {
  color: white;
  background-color: #fe5341;
}
header .headContent .logo {
  width: 132px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 50px;
}
.play-nav {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.play-nav a {
  text-align: center;
  font-size: 18px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  color: #999;
}
.play-nav .on {
  border-bottom: 2px solid #FE5431;
  color: #FE5431;
}
main {
  width: 100%;
  height: 2188px;
  background-color: #F7F7F7;
  overflow: hidden;
}
main .listNew {
  width: 60%;
  height: 2188px;
  margin: 0 auto;
  margin-top: 20px;
}
main .listNew li {
  float: left;
  width: 250px;
  height: 250px;
  border: 1px solid #e6e9e9;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  background-color: #FFFFFF;
  margin-right: 32px;
  margin-top: 15px;
}
main .listNew li:hover img {
  animation: move 4s infinite;
}
@keyframes move {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
main .listNew li a {
  text-decoration: none;
  color: #333;
}
main .listNew li a img {
  width: 250px;
  height: 150px;
}
main .listNew li a .name {
  margin-left: 10px;
}
main .listNew li a .introduce {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
  box-sizing: border-box;
}
main .listNew li a .tip {
  width: 100%;
  height: 50px;
}
main .listNew li a .tip .tipLeft {
  width: 80px;
  height: 50px;
  line-height: 50px;
  float: left;
  color: red;
  margin-left: 10px;
}
main .listNew li a .tip .tipRight {
  float: right;
  width: 70px;
  height: 50px;
  line-height: 50px;
  color: #999;
}
main .listNew li a .tip .tipRight .like {
  padding-left: 18px;
  box-sizing: border-box;
  background: url(../img/xin.png) no-repeat 3px 5px;
}
main .listNew li a .tip .tipRight .words {
  padding-left: 18px;
  box-sizing: border-box;
  background: url(../img/reply.png) no-repeat 3px 5px;
}
footer {
  width: 100%;
  height: 360px;
  background-color: #505050;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 15px;
}
footer .footerContent {
  width: 65%;
  margin: auto;
}
footer .footerContent .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footerContent .top dl:nth-of-type(1) img {
  width: 160px;
  height: 160px;
}
footer .footerContent .top dl:nth-of-type(2) dd {
  margin-top: 13px;
}
footer .footerContent .top dl:nth-of-type(4) dd {
  display: flex;
  align-items: center;
}
footer .footerContent .top dl:nth-of-type(4) dd a {
  width: 69px;
  height: 20px;
}
footer .footerContent .top dl dt {
  margin-bottom: 25px;
  color: white;
}
footer .footerContent .top dl dd {
  font-size: 13px;
  color: #a3a3a3;
}
footer .footerContent .top dl dd a {
  text-decoration: none;
  color: #a3a3a3;
}
footer p {
  padding-top: 80px;
  color: #a3a3a3;
  font-size: 13px;
  text-align: center;
}
