* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 76px;
  background-color: white;
  border-bottom: 1px solid #cecfcf;
  box-shadow: 0 0 5px #cecfcf inset;
}
header img {
  margin-right: 50px;
}
header .headContent {
  width: 65%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
header .headContent .right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headContent .right .navTop {
  display: flex;
  list-style: none;
}
header .headContent .right .navTop li {
  margin: 0 25px;
}
header .headContent .right .navTop li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
header .headContent .right .navTop li a:hover {
  color: #fe5341;
}
header .headContent .right .navTop li .active {
  color: #fe5341 !important;
}
header .headContent .right .register {
  display: flex;
  align-items: center;
}
header .headContent .right .register a {
  text-decoration: none;
  margin-right: 15px;
}
header .headContent .right .register a:nth-of-type(1) {
  width: 25px;
  height: 25px;
  background: url(../img/search.png) no-repeat;
}
header .headContent .right .register a:nth-of-type(1):hover {
  transform: scale(1.1);
}
header .headContent .right .register a:nth-of-type(2) {
  border: 1px solid #fe5341;
  color: #fe5341;
  border-radius: 3px;
  padding: 3px 5px;
}
header .headContent .right .register a:nth-of-type(2):hover {
  color: white;
  background-color: #fe5341;
}
header .headContent .logo {
  width: 132px;
}
main {
  width: 100%;
  margin-top: 20px;
  height: 244px;
}
main .topp {
  width: 65%;
  height: 128px;
  margin: 0 auto;
}
main .topp .top {
  height: 125px;
  width: 100%;
  line-height: 125px;
}
main .topp .top h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
main .navtopp {
  width: 100%;
  height: 110px;
}
main .navtopp .navtop1 {
  width: 100%;
  height: 53px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}
main .navtopp .navtop1 a {
  display: inline-block;
  width: 165px;
  font-size: 18px;
  text-decoration: none;
  color: #a3a3a3;
}
main .navtopp .navtop1 a:nth-of-type(1) {
  color: #fe5431;
  border-bottom: 4px solid #fe5431;
}
main .navtopp .navtop2 {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
main .navtopp .navtop2 .navbox {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  height: 50px;
  margin: 0 auto;
}
main .navtopp .navtop2 .navbox a {
  width: 165px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #999;
}
main .navtopp .navtop2 .navbox a:nth-of-type(3) {
  color: #474747;
}
.shop {
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 30px;
}
.shop .shopping {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.shop .shopping .item {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
}
.shop .shopping .item li {
  width: 222px;
  height: 288px;
  border: 1px solid #e6e9e9;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}
.shop .shopping .item li:hover img {
  animation: light 1.5s infinite linear;
}
.shop .shopping .item li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.shop .shopping .item li a img {
  width: 220px;
  height: 130px;
}
.shop .shopping .item li a strong {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  background-color: #fe5341;
  color: white;
  border-radius: 0 0 0 6px;
  font-size: 12px;
}
.shop .shopping .item li a div {
  width: 220px;
  height: 155px;
  padding: 0 5px;
  box-sizing: border-box;
  text-align: center;
}
.shop .shopping .item li a div h2 {
  font-size: 16px;
  color: black;
}
.shop .shopping .item li a div span {
  margin: 3px 0;
  display: inline-block;
  width: 42px;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  color: #999;
  border: 1px solid #999;
  border-radius: 5px;
}
.shop .shopping .item li a div p {
  color: black;
}
.shop .shopping .item li a div p .num {
  font-weight: 400;
  color: #fe5341;
  border: none;
}
.shop .shopping .item li a div .color {
  font-size: 14px;
  color: #999;
}
.shop .shopping .item li:nth-child(2n) div span {
  border: 1px solid #80c269;
  color: #80c269;
}
.shop .shopping .item li:nth-of-type(3) div span,
.shop .shopping .item li:nth-of-type(5) div span,
.shop .shopping .item li:nth-of-type(9) div span {
  border: 1px solid #fe5341;
  color: #fe5341;
}
.shop .shopping .item li:nth-of-type(3) strong,
.shop .shopping .item li:nth-of-type(5) strong,
.shop .shopping .item li:nth-of-type(15) strong {
  background-color: #fbf4cb;
  color: #c8b09c;
}
footer {
  width: 100%;
  height: 360px;
  background-color: #505050;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 15px;
}
footer .footerContent {
  width: 65%;
  margin: auto;
}
footer .footerContent .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footerContent .top dl:nth-of-type(1) img {
  width: 160px;
  height: 160px;
}
footer .footerContent .top dl:nth-of-type(2) dd {
  margin-top: 13px;
}
footer .footerContent .top dl:nth-of-type(4) dd {
  display: flex;
  align-items: center;
}
footer .footerContent .top dl:nth-of-type(4) dd a {
  width: 69px;
  height: 20px;
}
footer .footerContent .top dl dt {
  margin-bottom: 25px;
  color: white;
}
footer .footerContent .top dl dd {
  font-size: 13px;
  color: #a3a3a3;
}
footer .footerContent .top dl dd a {
  text-decoration: none;
  color: #a3a3a3;
}
footer p {
  padding-top: 80px;
  color: #a3a3a3;
  font-size: 13px;
  text-align: center;
}
